/.assets
/.cozy
/assets/locales/*.po
!/assets/locales/en.po
/cozy-stack*
/debian
/storage
/tests/coverage.txt
/tests/pouchdb-integration/node_modules
/tests/pouchdb-integration/replication-target
/tests/sharing/tmp

*.log
*.enc
*.dec
