!/.github

/.assets
/.cozy
/cozy-stack*
/debug-assets
node_modules
/scripts/cozy-stack*
/scripts/golangci-lint
/storage
tmp

*.log
*.enc
*.dec

# Debian packaging stuff / temporary files
/.pc/
/bin
/packages
/debian/changelog
/debian/*.debhelper
/debian/*.log
/debian/*.substvars
/debian/files
/debian/cozy/
/debian/cozy-stack/
/debian/tmp/
