/assets/locales/*.po
!/assets/locales/en.po
/cozy-stack*
/debian
/storage
/tests/coverage.txt
/.cozy
/.assets
*.log
local.env
tests/pouchdb-integration/node_modules
tests/pouchdb-integration/replication-target
scripts/nodeslim.aci
