aeris <aeris@cozycloud.cc> <51246+aeris@users.noreply.github.com>
aeris <aeris@cozycloud.cc> <aeris@imirhil.fr>
aeris <aeris@cozycloud.cc> <aeris@users.noreply.github.com>
Bruno Michel <bmichel@menfin.info> <brmichel@free.fr>
Bruno Michel <bmichel@menfin.info> nono <nono@users.noreply.github.com>
Cédric Messiant <cedric.messiant@cozycloud.cc> <cedric.messiant@gmail.com>
Cédric Patchane <code@patchane.com> <code@patchane.com>
Erwan Guyader <erwan.guyader@cozycloud.cc> taratatach <taratatach@users.noreply.github.com>
GoOz <gooz@foojin.com> <GoOz@users.noreply.github.com>
Grégory Le Garec <gregory.legarec@gmail.com>
JF-Cozy <julien.ficheux@cozycloud.cc> <67680939+JF-Cozy@users.noreply.github.com>
Ljinod <julien@cozycloud.cc> <Ljinod@users.noreply.github.com>
Marius <marius@cozycloud.cc> <Narkfr@users.noreply.github.com>
Maxime MENAGER <maxime@cozycloud.cc> maximemenager <43468959+maximemenager@users.noreply.github.com>
Paul Tran-Van <paul@cozycloud.cc> <paul.tranvan@gmail.com>
Paul Tran-Van <paul@cozycloud.cc> paultranvan <paul@cozycloud.cc>
Paul Tran-Van <paul@cozycloud.cc> paultranvan <paultranvan@users.noreply.github.com>
Paul Tran-Van <paul@cozycloud.cc> Gara64 <paul@cozycloud.cc>
Pierre Peltier <pierre.peltier-ext@adevinta.com> <8608160+Peltoche@users.noreply.github.com>
Pierre Peltier <pierre.peltier-ext@adevinta.com> <pierre.peltier@protonmail.com>
Quentin Valmori <quentin.valmori@cozycloud.cc> <quentin.valmori@gmail.com>
Renovate Bot <bot@renovateapp.com> renovate[bot] <29139614+renovate[bot]@users.noreply.github.com>
Romain <romain@cozycloud.cc> Romain Foucault <aenario@gmail.com>
Sébastien Blaisot <sebastien.blaisot@cozycloud.cc> <sebastien@blaisot.org>
Sébastien Blaisot <sebastien.blaisot@cozycloud.cc> Sebastien BLAISOT <sebastien.blaisot@cozycloud.cc>
Simon <simonc@linux.com> Simon Constans <simonc@linux.com>
Thiriot Christophe <doubleface@users.noreply.github.com> doubleface <christophe@thiriot.xyz>
Thiriot Christophe <doubleface@users.noreply.github.com> doubleface <mr.thiriot@gmail.com>
Yannick Chiron <yannick.chiron@cozycloud.cc> <yannick.chiron@gmail.com>
