@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    src:  url('../fonts/Lato-Regular.woff2') format('woff2'),
          url('../fonts/Lato-Regular.woff') format('woff');
}
@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    src:  url('../fonts/Lato-Bold.woff2') format('woff2'),
          url('../fonts/Lato-Bold.woff') format('woff');
}
