#!/bin/sh
set -e
. /usr/share/debconf/confmodule

# prompt for password + confirmation until we get matching entries
# or an empty password
promptpass() {
	TARGET="${1}"
	PRIORITY="${2:-high}"

	while :; do
		RET=""
		db_input ${PRIORITY} ${TARGET} || true
		db_go
		db_get ${TARGET}
		# if password isn't empty we ask for password verification
		if [ -z "${RET}" ]; then
			break
		fi
		PW="${RET}"
		db_input ${PRIORITY} ${TARGET}_again || true
		db_go
		db_get ${TARGET}_again
		if [ "${RET}" = "${PW}" ]; then
			PW=""
			break
		fi
		db_fset ${TARGET}_mismatch seen false
		db_input critical ${TARGET}_mismatch
		db_set ${TARGET} ""
		db_set ${TARGET}_again ""
		db_go
	done
}

prompt() {
	TARGET="${1}"
	PRIORITY="${2:-high}"

	db_input ${PRIORITY} ${TARGET} || true
	db_go
	db_get ${TARGET}
}

prompt cozy-stack/couchdb/address
prompt cozy-stack/couchdb/nodename
prompt cozy-stack/couchdb/admin/user
promptpass cozy-stack/couchdb/admin/password
prompt cozy-stack/couchdb/cozy/user
promptpass cozy-stack/couchdb/cozy/password
promptpass cozy-stack/cozy/password

prompt cozy-stack/address low
prompt cozy-stack/port low
prompt cozy-stack/admin/address low
prompt cozy-stack/admin/port low
