.wizard {
  display: flex;
  flex-direction: column;
}

.banner {
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1.33;
  font-style: italic;
  color: var(--charcoal-grey);
  background-color: var(--paleGrey);
}

.banner img {
  fill: currentColor;
}

.bottom-navigation-bar {
  order: 2;
}

.bottom-navigation-bar img {
  transform: scaleY(-1);
}

.banner.u-white img {
  filter: invert(1);
}

.wizard > .banner + * {
  flex: 1 1 100%;
  margin-top: 1rem;
}

.u-primary-300 {
  color: #b3d3ff;
}

.u-bg-primary-700 {
  background-color: #0f5cc7;
}

/* Some hacks for the inverted theme with the wizard */
.u-bg-dodgerBlue .wizard-main {
  background: transparent !important;
}

.u-bg-dodgerBlue .u-error {
  color: #ffd3d3 !important;
}

.u-bg-dodgerBlue .c-input-text.is-error {
  border-color: #ffd3d3 !important;
}
