.wizard-password.c-input-text {
  border-radius: 0.2rem 0.2rem 0 0;
}

.pw-indicator {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 0.25rem;
  background: var(--paleGrey);
  border: 1px solid var(--silver);
  border-top: 0;
  border-radius: 0 0 0.2rem 0.2rem;
}
.pw-indicator::-webkit-progress-bar {
  background: var(--paleGrey);
  border-radius: 0 0 0.2rem 0.2rem;
}
.pw-indicator::-webkit-progress-value {
  background: var(--charcoalGrey);
  border-radius: 0 0.2rem 0.2rem 0.2rem;
}
.pw-indicator::-moz-progress-bar {
  background: var(--charcoalGrey);
  border-radius: 0 0.2rem 0.2rem 0.2rem;
}

.pw-weak {
  color: var(--pomegranate);
}
.pw-weak::-webkit-progress-value {
  background: var(--pomegranate);
}
.pw-weak::-moz-progress-bar {
  background: var(--pomegranate);
}
.pw-moderate {
  color: var(--texasRose);
}
.pw-moderate::-webkit-progress-value {
  background: var(--texasRose);
}
.pw-moderate::-moz-progress-bar {
  background: var(--texasRose);
}
.pw-strong {
  color: var(--emerald);
}
.pw-strong::-webkit-progress-value {
  background: var(--emerald);
}
.pw-strong::-moz-progress-bar {
  background: var(--emerald);
}
