* { box-sizing: border-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
[type="submit"], button { cursor: pointer; }
body { width: 100vw; height: 100vh; overflow: hidden; color: #32363f; background-image: linear-gradient(#63a6ed 2.4%, #b8cced); }
main { display: flex; align-items: center; justify-content: center; min-height: 100vh; }
.popup { position: relative; max-width: 36em; padding: 3em 2em 2em; border-radius: 20px; box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23); background: #fff; }

header { position: absolute; top: -48px; left: 50%; margin-left: -48px; width: 96px; height: 96px; border-radius: 100%; box-shadow: 0 1px 3px rgba(0,0,0,.12); background-color: #fff; background-image: url(/assets/images/cozy.svg); background-position: 12px 12px; background-repeat: no-repeat; }
h1 { margin: .5em 0 .3em; font-size: 1.6em; line-height: 1.1em; font-weight: 400; text-align: center; }
.help { margin: 0 0 .2em; color: #92a0b2; font-size: 1.1em; text-align: center; }
.with-input { display: block; position: relative; margin-top: 1.2em; }
.with-input input { display: block; width: 100%; padding: .8em; border: 0; border-bottom: 2px solid #dde6ef; font-size: 1.1em; color: #92a0b2; background-color: #e8f0f8; transition: border ease-out .4s; }
.with-input input:focus { border-color: #33a6ff; }
.with-input input:hover { border-color: #acb8c5; transition-duration: .1s; }

.btn { display: block; width: 100%; margin-top: 1em; padding: 1em; border: none; border-radius: 2px; text-align: center; text-transform: uppercase; text-decoration: none; transition: background ease-out .4s; }
.btn-primary { background-color: #33a6ff; color: #fff; }
.btn-primary:hover { background-color: #008af5; transition-duration: .1s; }
