<!DOCTYPE html>
<html lang="{{.Locale}}">
  <head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset .Domain "/styles/stack.css" .ContextName}}">
    {{.CozyUI}}
    {{.ThemeCSS}}
    {{.Favicon}}
  </head>
  <body>
    <form method="POST" action="/auth/authorize/sharing" class="login auth">
      <main role="application">
        <section class="with-sticky-footer">
          <input type="hidden" name="csrf_token" value="{{.CSRF}}" />
          <input type="hidden" name="sharing_id" value="{{.Sharing.SID}}" />
          <input type="hidden" name="state" value="{{.State}}" />
          <div role="region" class="u-flex-auto u-ov-auto u-p-1 u-mb-1">
            <header class="u-ta-center">
              {{if .HasShortcut}}
              <img class="logo-avatar" src="{{asset .Domain "/images/icons-32-cloud-sync.svg"}}" alt="" />
              {{else}}
              <img class="logo-avatar" src="{{asset .Domain "/images/icons-32-cloud-import.svg"}}" alt="" />
              {{end}}
            </header>
            <h1 class="u-title-h1 u-mt-0 u-mb-2 u-ta-center">
              {{if .HasShortcut}}
              {{t "Authorize Sharing Title Synchronize"}}
              {{else}}
              {{t "Authorize Sharing Title Add"}}
              {{end}}
            </h1>
            <div class="u-card u-p-1-half u-mb-2">
              <p class="help u-mt-0 u-text">
                <span class="c-avatar c-avatar--sharing u-mr-half">
                  <img class="c-avatar-image" src="/sharings/{{.Sharing.SID}}/recipients/0/avatar" alt="" />
                </span><span><strong>{{.SharerName}} ({{.SharerDomain}})</strong>
                  {{t "Authorize Sharing Request"}}
                </span>
              </p>
              <ul class="u-elevation-1 u-bdrs-4 u-stack-l u-m-0 u-p-1 u-text perm-list">
                {{range $index, $rule := .Sharing.Rules}}
                {{if $rule.Mime }}
                <li class="filetype-{{filetype $rule.Mime}}">{{basename $rule.Title}}<span class="u-coolGrey">{{ext $rule.Title}}</span></li>
                {{else}}
                <li class="{{$rule.DocType}}">{{$rule.Title}}</li>
                {{end}}
                {{end}}
              </ul>
            </div>
            <div class="u-stack-s">
              {{if .HasShortcut}}
              <input type="hidden" name="synchronize" value="true" />
              {{else}}
              <label class="c-input-checkbox">
                <input type="checkbox" name="synchronize" checked="checked" />
                <span class="u-title-h2 u-pl-2">{{t "Authorize Sharing Synchronize label"}}</span>
              </label>
              {{end}}
              <p class="{{if not .HasShortcut}}u-pl-2 {{end}}u-text u-fz-small u-mb-0">
                {{t "Authorize Sharing Description start" .SharerName .TargetType}}
              </p>
              <p class="{{if not .HasShortcut}}u-pl-2 {{end}}u-text u-fz-small u-mb-0">
                {{t "Authorize Sharing Description end" .TargetType .SharerName}}
              </p>
            </div>
          </div>
          <footer class="sticky-footer">
            <div class="controls u-flex u-flex-wrap-reverse">
              <a href="/auth/authorize/sharing/{{.Sharing.SID}}/cancel?state={{.State}}" type="cancel" class="u-flex-shrink-1 u-flex-grow-1 c-btn c-btn--secondary"><span><span>{{t "Authorize Sharing Cancel"}}</span></span></a>
              <button type="submit" class="u-flex-shrink-1 u-flex-grow-1 c-btn"><span><span>
                {{if .HasShortcut}}
                {{t "Authorize Sharing Submit Synchronize"}}
                {{else}}
                {{t "Authorize Sharing Submit Add"}}
                {{end}}
              </span></span></button>
            </div>
          </footer>
        </section>
      </main>
    </form>
  </body>
</html>
