<!DOCTYPE html>
<html lang="{{.Locale}}">
  <head>
    <meta charset="utf-8">
    <title>Cozy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset .Domain "/fonts/fonts.css"}}">
    <link rel="stylesheet" href="{{asset .Domain "/styles/stack.css"}}">
    <link rel="icon" type="image/png" href="{{asset .Domain "/images/happycloud.png"}}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{asset .Domain "/favicon.ico"}}">
  </head>
  <body>
    <main role="application">
      <section class="popup">
        <header>
          <a href="https://cozy.io" target="_blank" title="Cozy Website" class="shield"></a>
        </header>
        <div class="container">
          <form method="POST" action="/auth/authorize/app" class="login auth">
            <input type="hidden" name="slug" value="{{.Slug}}" />
            <input type="hidden" name="csrf_token" value="{{.CSRF}}" />
            <div role="region">
              <h1>{{t "Authorize App Title" .Slug}}</h1>
              <input type="checkbox" id="showMore" class="visuallyhidden">
              <label for="showMore" class="toggleMore">
                  {{t "Authorize More"}}
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <path fill="currentColor" fill-rule="evenodd" d="M162.707107,132.292893 C162.316582,131.902369 161.683418,131.902369 161.292893,132.292893 C160.902369,132.683418 160.902369,133.316582 161.292893,133.707107 L167.292893,139.707107 C167.683418,140.097631 168.316582,140.097631 168.707107,139.707107 L174.707107,133.707107 C175.097631,133.316582 175.097631,132.683418 174.707107,132.292893 C174.316582,131.902369 173.683418,131.902369 173.292893,132.292893 L168,137.585786 L162.707107,132.292893 Z" transform="translate(-160 -128)"/>
                  </svg>

              </label>
              <div class="toggleContent">
                <p>{{t "Authorize Give App permission desc" .Domain .Slug}}</p>
                <ul class="perm-list">
                  {{range $index, $perm := .Permissions}}
                <li class="{{ $perm.Type }}">
                  {{- t $perm.TranslationKey -}}
                  {{- if $perm.Verbs.ReadOnly}}{{t "Permissions Read only"}}{{end -}}
                  {{- if $perm.Description}}: {{$perm.Description}}{{end -}}
                </li>
                  {{end}}
                </ul>
              </div>
              <p>
                {{t "Authorize Give permission start"}}<strong>{{t "Authorize Give permission keyword"}}</strong>{{t "Authorize Give App permission end" .Slug}}
              </p>
            </div>
            <footer>
              <div class="controls">
                <button type="cancel" class="btn btn-secondary">{{t "Authorize Cancel"}}</button>
                <button type="submit" class="btn btn-primary">{{t "Authorize Submit"}}</button>
              </div>
            </footer>
          </form>
        </div>
      </section>
    </main>
    <script src="{{asset .Domain "/scripts/cancel-button.js"}}"></script>
  </body>
</html>
