<!DOCTYPE html>
<html lang="{{.Locale}}">
  <head>
    <meta charset="utf-8">
    <title>Cozy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/settings/theme.css">
    <link rel="stylesheet" href="/assets/styles/stack.css">
    <link rel="icon" type="image/png" href="/assets/images/happycloud.png" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body>
    <main role="application">
      <section class="popup">
        <header>
          <a href="https://cozy.io" target="_blank" title="Cozy Website"></a>
        </header>
        <div class="container">
          <form method="POST" action="/auth/authorize" class="login auth">
            <input type="hidden" name="csrf_token" value="{{.CSRF}}" />
            <input type="hidden" name="client_id" value="{{.Client.ClientID}}" />
            <input type="hidden" name="state" value="{{.State}}" />
            <input type="hidden" name="redirect_uri" value="{{.RedirectURI}}" />
            <input type="hidden" name="scope" value="{{.Scope}}" />
            <div role="region">
              <h1>{{t "Authorize Title"}}</h1>
              {{if .Client.LogoURI}}
              <img class="client-logo" src="{{.Client.LogoURI}}" />
              {{end}}
              <p class="help">
                <strong>
                {{if .Client.ClientURI}}
                <a href="{{.Client.ClientURI}}">{{.Client.ClientName}}</a>
                {{else}}
                {{.Client.ClientName}}
                {{end}}
                </strong>
                {{t "Authorize Client presentation"}}
                {{if .Client.PolicyURI}}
                {{t "Authorize Policy sentence"}}
                <a href="{{.Client.PolicyURI}}">{{.Client.PolicyURI}}</a>
                {{end}}
                {{t "Authorize Give permission"}}
              </p>
              <ul>
                {{range $index, $perm := .Permissions}}
                <li>{{$perm}}</li>
                {{end}}
              </ul>
            </div>
            <footer>
              <div class="controls">
                <button type="submit" class="btn btn-primary">{{t "Authorize Submit"}}</button>
              </div>
            </footer>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
