<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cozy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset .Domain "/fonts/fonts.css"}}">
    <link rel="stylesheet" href="{{asset .Domain "/styles/stack.css"}}">
    <link rel="icon" type="image/png" href="{{asset .Domain "/images/happycloud.png"}}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{asset .Domain "/favicon.ico"}}">
  </head>
  <body>
    <main role="application">
      <section class="popup">
        <header>
          <a href="https://cozy.io" target="_blank" title="Cozy Website"></a>
        </header>
        <div class="container">
          <h1>{{if .ErrorTitle}}{{t .ErrorTitle}}{{else}}{{t "Error Title"}}{{end}}</h1>
          <div>
            <div class="error">
              <div class="alert">
                {{$err := t .Error}}
                {{$arr := split $err "\n"}}
                {{range $i, $p := $arr}}
                  {{if ne $p ""}}
                  <p>{{$p}}</p>
                  {{end}}
                {{end}}
                {{if .ActionURL }}
                <p><a href="{{.ActionURL}}">{{t .ActionTitle}}</a></p>
                {{end}}
                <p><strong>{{t "Error Contact us" }} <a href="mailto:contact@cozycloud.cc">contact@cozycloud.cc</a>.</strong></p>
              </div>
            </div>
          </div>
          {{if .Button}}
          <footer>
            <a class="popup-btn" href="{{.ButtonLink}}">{{t .Button}}</a>
          </footer>
          {{end}}
        </div>
      </section>
    </main>
  </body>
</html>
