<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset .Domain "/fonts/fonts.css"}}">
    {{.CozyUI}}
    {{.ThemeCSS}}
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset .Domain "/apple-touch-icon.png" .ContextName}}">
    <link rel="icon" type="image/png" href="{{asset .Domain "/favicon-32x32.png" .ContextName}}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{asset .Domain "/favicon-16x16.png" .ContextName}}" sizes="16x16">
  </head>
  <body>
    <div role="application">
      <main class="wizard">
        <section class="wizard-wrapper">
          <div role="region" class="wizard-main">
            <h1 class="wizard-title u-mb-half u-mb-0-s u-mt-1-s">{{if .ErrorTitle}}{{t .ErrorTitle}}{{else}}{{t "Error Title"}}{{end}}</h1>
            <div class="o-field">
              {{$err := t .Error}}
              {{$arr := split $err "\n"}}
              {{range $i, $p := $arr}}
                {{if ne $p ""}}
                <p>{{$p}}</p>
                {{end}}
              {{end}}
              {{if .ActionURL }}
              <p class="wizard-notice"><a href="{{.ActionURL}}">{{t .ActionTitle}}</a></p>
              {{end}}
              <p class="wizard-notice"><strong>{{t "Error Contact us" }} <a href="mailto:contact@cozycloud.cc">contact@cozycloud.cc</a>.</strong></p>
            </div>
          </div>
          {{if .Button}}
          <footer class="wizard-footer u-pb-half">
            <a class="c-btn c-btn--full wizard-button" href="{{.ButtonLink}}"><span>{{t .Button}}</span></a>
          </footer>
          {{end}}
        </section>
      </main>
    </div>
  </body>
</html>
