<!DOCTYPE html>
<html lang="{{.Locale}}">

<head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset .Domain "/fonts/fonts.css"}}">
    <link rel="stylesheet" href="{{asset .Domain "/styles/stack.css"}}">
    {{.ThemeCSS}}
    {{.Favicon}}
</head>

<body>
    <main role="application">
        <section class="popup">
            <header class="compat-header">
                <a href="https://cozy.io" target="_blank" title="Cozy Website"></a>
                <h1>{{t "Error Message instance blocked"}}</h1>
            </header>
            <div class="container">
                <p>{{.Reason}}</p>
                <p><strong>{{t "Error Contact instance blocked" }} <a href="mailto:contact@cozycloud.cc">contact@cozycloud.cc</a>.</strong></p>
            </div>
        </section>
    </main>
</body>

</html>
