<!DOCTYPE html>
<html lang="{{.Locale}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="3600">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.TemplateTitle}}</title>
    <link rel="stylesheet" href="{{asset .Domain "/fonts/fonts.css"}}">
    {{.CozyBS}}
    {{.ThemeCSS}}
    <link rel="stylesheet" href="{{asset .Domain "/styles/cirrus.css"}}">
    {{.Favicon}}
  </head>
  <body class="theme-inverted">
    <form id="login-form" method="POST" action="/auth/login" class="d-contents" data-iterations="{{.Iterations}}" data-salt="{{.Salt}}">
      <input id="redirect" type="hidden" name="redirect" value="{{.Redirect}}" />
      <input id="csrf_token" type="hidden" name="csrf_token" value="{{.CSRF}}" />
      <input id="trusted-device-token" type="hidden" name="trusted-device-token" value="" />
      <main class="wrapper">

        <header class="wrapper-top">
          {{if not .BottomNavBar}}
          <p class="banner small">
            <span class="icon icon-answer"></span>
            <strong>{{t "Login Password best practice"}}</strong>
            {{t "Login Password tip"}}
          </p>
          {{end}}
          <a href="https://cozy.io/" class="btn p-2 d-sm-none">
            <img src="{{asset .Domain "/images/logo-dark.svg"}}" alt="Cozy Cloud" class="logo" />
          </a>
        </header>

        <div class="d-flex flex-column align-items-center">
          <img src="/public/avatar" alt="" class="avatar my-3 border border-primary border-2 rounded-circle" />
          <h1 class="h4 h2-md mb-0">{{.Title}}</h1>
          <p class="mb-4 mb-md-5 text-muted">{{.Domain}}</p>
          <div class="form-floating w-100">
            <input type="password" class="form-control" id="password" name="passphrase" autofocus autocomplete="current-password" />
            <label for="password">{{t "Login Password field"}}</label>
            {{if .CredentialsError}}
            <div class="invalid-tooltip mb-1">
              <div class="tooltip-arrow"></div>
              <span class="icon icon-alert bg-danger"></span>
              {{.CredentialsError}}
            </div>
            {{end}}
          </div>
          <a href="/auth/passphrase_reset{{if .Redirect}}?redirect={{.Redirect}}{{end}}" class="align-self-start my-3">
            {{t "Login Forgot password"}}
          </a>
          {{if not .OAuth}}
          <div class="form-check align-self-start">
            <input class="form-check-input" type="checkbox" value="" id="long-run-session" name="long-run-session" />
            <label class="form-check-label" for="long-run-session">
              {{t "Login Long Session"}}
            </label>
          </div>
          {{end}}

          <!--
          <button id="password-visibility-button" class="wizard-showbutton c-btn c-btn--secondary"
            type="button"
            name="password-visibility"
            data-show="{{t "Login Password show"}}"
            data-hide="{{t "Login Password hide"}}"
            title="{{t "Login Password show"}}">
            <span>
              <svg width="16" height="16" aria-hidden="true" focusable="false">
                <use class="u-hide" id="display-icon" xlink:href="#display"></use>
                <use id="hide-icon" xlink:href="#hide"></use>
              </svg>
            </span>
          </button>
          -->
        </div>

        <footer>
          <button class="btn btn-primary w-100 my-4 mt-md-5" type="button">
            {{t "Login Submit"}}
          </button>
          {{if .BottomNavBar}}
          <p class="banner small fullbleed">
            <span class="icon icon-answer reverse-y align-bottom"></span>
            <strong>{{t "Login Password best practice"}}</strong>
            {{t "Login Password tip"}}
          </p>
          {{end}}
        </footer>

      </main>
    </form>
    {{if .CryptoPolyfill}}<script src="{{asset .Domain "/js/asmcrypto.js"}}"></script>{{end}}
    <script src="{{asset .Domain "/scripts/password-helpers.js"}}"></script>
    <script src="{{asset .Domain "/scripts/password-visibility.js"}}"></script>
    <script src="{{asset .Domain "/scripts/login.js"}}"></script>
    <script src="{{asset .Domain "/scripts/responsive.js"}}"></script>
  </body>
</html>
