<!DOCTYPE html>
<html lang="{{.Locale}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="{{asset .Domain "/fonts/fonts.css" .ContextName}}">
    <link rel="stylesheet" href="{{asset .Domain "/css/cozy-bs.min.css" .ContextName}}">
    <link rel="stylesheet" href="{{asset .Domain "/styles/theme.css" .ContextName}}">
    <link rel="stylesheet" href="{{asset .Domain "/styles/cirrus.css" .ContextName}}">
    {{.Favicon}}
  </head>
  <body>
    <main class="wrapper">
      <header class="wrapper-top">
        <a href="https://cozy.io/" class="btn p-2 d-sm-none">
          <img src="{{asset .Domain "/images/logo-light.svg"}}" alt="Cozy Cloud" class="logo" />
        </a>
      </header>

      <div class="d-flex flex-column align-items-center mb-5">
        {{if .Illustration}}<img src="{{asset .Domain .Illustration}}" alt="" class="illustration mb-3" />{{end}}
        <h1 class="h4 h2-md mb-3 text-center">{{.Title}}</h1>
        <p class="text-center mb-4 mb-md-5">{{t "Move Link Description"}}</p>
        <div class="alert alert-info mb-4 mb-md-5 w-100 small text-center">
          <a href="{{.Link}}">{{t .Link}}</a>
        </div>
        <p class="text-center">{{t "Move Link More"}}</p>
      </div>

      <footer>
        <p class="text-center mb-4">
          <a href="{{t "Move Link FAQ URL"}}">{{t "Move Link FAQ Text"}}</a>
        </p>
      </footer>
    </main>
    <script src="{{asset .Domain "/scripts/cirrus.js"}}"></script>
  </body>
</html>
