<!DOCTYPE html>
<html lang="{{.Locale}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="3600">
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset .Domain "/fonts/fonts.css"}}">
    {{.CozyUI}}
    {{.ThemeCSS}}
    {{.Favicon}}
  </head>
  <body>
    <div role="application">
      <main class="wizard">
        <form id="login-form" method="POST" action="/auth/login" class="wizard-wrapper" data-iterations="{{.Iterations}}" data-salt="{{.Salt}}">
          <div role="region" class="wizard-main" id="login-field">
            <div class="c-avatar u-mh-auto u-mv-0-m u-mv-1">
              <img class="c-avatar-image" src="{{asset .Domain "/images/default-avatar.png"}}" alt="" />
            </div>
            <h1 class="wizard-title password-form">{{.Title}}</h1>
            <footer class="wizard-footer u-pb-half-m u-pb-2">
              <button id="login-submit" class="c-btn c-btn--full wizard-button" form="login-form" type="submit">
                <span class="password-form">{{t "Login Submit"}}</span>
              </button>
            </footer>
          </div>
        </form>
      </main>
    </div>
  </body>
</html>
