C<!DOCTYPE html>
<html lang="{{.Locale}}">
  <head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset .Domain "/fonts/fonts.css" .ContextName}}">
    {{.CozyUI}}
    {{.ThemeCSS}}
    {{.Favicon}}
  </head>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <symbol viewBox="0 0 16 16" id="next">
          <g stroke-width="1" fill-rule="evenodd">
            <path d="M3.41421356,7 L14.9931545,7 C15.5492199,7 16,7.44386482 16,8 C16,8.55228475 15.5500512,9 14.9931545,9 L3.41421356,9 L8.70710678,14.2928932 C9.09763107,14.6834175 9.09763107,15.3165825 8.70710678,15.7071068 C8.31658249,16.0976311 7.68341751,16.0976311 7.29289322,15.7071068 L0.292893219,8.70710678 C-0.0976310729,8.31658249 -0.0976310729,7.68341751 0.292893219,7.29289322 L7.29289322,0.292893219 C7.68341751,-0.0976310729 8.31658249,-0.0976310729 8.70710678,0.292893219 C9.09763107,0.683417511 9.09763107,1.31658249 8.70710678,1.70710678 L3.41421356,7 Z" transform="translate(8.000000, 8.000000) scale(-1, 1) translate(-8.000000, -8.000000) "></path>
          </g>
        </symbol>
      </defs>
    </svg>
    <div role="application">
      <main class="wizard">
        <div class="wizard-wrapper">
          <h1 class="wizard-title u-mb-half u-mb-0-s u-mt-1-s">{{t "Passphrase reset Title"}}</h1>
          {{if .HasHint}}
          <form id="send-hint-form" method="POST" action="/auth/hint" class="wizard-main">
            <div role="region">
              <input type="hidden" name="redirect" value="{{.Redirect}}" />
              <p class="wizard-notice u-mb-2 u-mt-1-half-s">{{t "Passphrase reset Help hint"}}</p>
            </div>
            <footer claas="wizard-footer u-pb-half">
              <button id="send-hint-submit" form="send-hint-form" type="submit" class="c-btn c-btn--full wizard-button wizard-next">
                <span>
                  <span>{{t "Passphrase reset Submit hint"}}</span>
                  <svg width="16" height="16" aria-hidden="true" focusable="false">
                    <use id="next-icon" xlink:href="#next"></use>
                  </svg>
                </span>
              </button>
            </footer>
          </form>
          {{end}}
            <div role="region">
              <p><strong>{{t "Passphrase reset Title"}}</strong></p>
              <p class="u-mt-1-half-s" id="login-password-tip">
                <strong class="u-error">{{t "Passphrase reset Help Warning"}}</strong>
                {{t "Passphrase reset Help"}}
              </p>
              <form id="reset-passphrase-form" method="POST" action="/auth/passphrase_reset">
                <input type="hidden" name="csrf_token" value="{{.CSRF}}" />
                <input type="hidden" name="redirect" value="{{.Redirect}}" />
                <button type="submit" class="c-btn c-btn--text u-p-0 u-m-0">
                  <span>{{t "Passphrase reset Submit"}}</span>
                </button>
              </form>
            </div>
        </div>
      </main>
    </div>
  </body>
</html>
