<!DOCTYPE html>
<html lang="{{.Locale}}">
  <head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{.CozyUI}}
    {{.ThemeCSS}}
    {{.Favicon}}
  </head>
  <body>
    <div role="application">
      <main class="wizard">
        <form method="POST" action="/sharings/{{.SharingID}}/discovery" class="wizard-wrapper">
          <div role="region" class="wizard-main">
            {{if .URLError}}
              <p class="wizard-errors u-error">{{t "Sharing URL Discovery error"}}</p>
            {{end}}
            <input type="hidden" name="state" value="{{.State}}" />
            <input type="hidden" name="sharecode" value="{{.ShareCode}}" />
            <h1 class="wizard-title u-mb-half u-mb-0-s u-mt-1-s">{{t "Sharing Connect to Cozy"}}</h1>
            <div class="o-field">
              <label class="c-label" for="URL"> {{t "Sharing Discovery URL field"}}</label>
              <input id="url" name="url" class="wizard-input c-input-text" placeholder="{{t "Sharing Discovery URL placeholder"}}" type="text" autofocus="true" value="{{.RecipientCozy}}" />
            </div>
          </div>
          <footer class="wizard-footer">
            <button type="submit" class="c-btn c-btn--full wizard-button">
              <span>{{t "Sharing Discovery Submit"}}</span>
            </button>
            <p class="wizard-notice">
              {{t "Sharing No Cozy"}}
              <a href="{{t "Sharing Discover Cozy URL"}}">
                {{t "Sharing Discover Cozy"}}
              </a>
            </p>
            <p class="wizard-notice">
              {{t "Sharing Forgotten URL"}}
              <br />
              {{t "Sharing Forgotten URL email"}}
            </p>
          </footer>
        </form>
      </main>
    </div>
  </body>
</html>
