<!DOCTYPE html>
<html lang="{{.Locale}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="3600">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="{{asset .Domain "/fonts/fonts.css" .ContextName}}">
    <link rel="stylesheet" href="{{asset .Domain "/css/cozy-bs.min.css" .ContextName}}">
    <link rel="stylesheet" href="{{asset .Domain "/styles/theme.css" .ContextName}}">
    <link rel="stylesheet" href="{{asset .Domain "/styles/cirrus.css" .ContextName}}">
    {{.Favicon}}
  </head>
  <body class="cirrus theme-light share-password-page bg-gray-100">
    <form id="share-by-link-password-form" method="POST" action="{{.Action}}" class="d-contents">
      <main class="wrapper">

        <header class="wrapper-top">
          <a href="https://cozy.io/" class="btn p-2 d-sm-none">
            <img src="{{asset .Domain "/images/logo-dark.svg"}}" alt="Cozy Cloud" class="logo" />
          </a>
        </header>

        <div class="component-box">
          <div class="d-flex flex-column align-items-center">
            <img src="{{asset .Domain "/images/security.svg"}}" alt="" class="illustration mb-3" />
            <h1 class="h4 h2-md mb-5 text-center">{{t "Share by link Password Title"}}</h1>
  
            <div id="password-field" class="input-group form-floating has-validation w-100">
              <input id="perm-id" type="hidden" name="perm_id" value="{{.PermID}}" />
              <input type="password" class="form-control form-control-md-lg" id="password" name="passphrase" autofocus spellcheck="false" />
              <label for="password">{{t "Share by link Password Field"}}</label>
              <button id="password-visibility-button" class="btn btn-outline-info"
                type="button"
                name="password-visibility"
                data-show="{{t "Login Password show"}}"
                data-hide="{{t "Login Password hide"}}"
                title="{{t "Login Password show"}}">
                <span id="password-visibility-icon" class="icon icon-eye-closed"></span>
              </button>
            </div>
          </div>
  
          <footer class="w-100">
            <button id="password-submit" class="btn btn-primary btn-md-lg w-100 my-3 mt-md-5" type="submit">
              {{t "Share by link Password Submit"}}
            </button>
          </footer>
        </div>
        
      </main>
    </form>
    <script src="{{asset .Domain "/scripts/cirrus.js"}}"></script>
    <script src="{{asset .Domain "/scripts/password-visibility.js"}}"></script>
    <script src="{{asset .Domain "/scripts/share-by-link.js"}}"></script>
  </body>
</html>
