##############################################
#                                            #
#     Sample Env file for docker-compose     #
#                                            #
##############################################

COMPOSE_PROJECT_NAME=cozy
DOMAIN=localhost

# Reverse proxy
ACME_EMAIL=you@your.domain

# CouchDB
COUCHDB_PROTOCOL=http
COUCHDB_HOST=couchdb
COUCHDB_PORT=5984
COUCHDB_USER=cozy
COUCHDB_PASSWORD=SomeRandomlyGeneratedPassword

# Redis
REDIS_ADDRS=redis:6379

# Stack
COZY_ADMIN_PASSPHRASE=AnotherRandomlyGeneratedPassword
COZY_SUBDOMAINS=flat
COZY_PASSWORD_RESET_INTERVAL=15m

# Mail
MAIL_HOST=localhost
MAIL_PORT=465
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_DISABLE_TLS=false
MAIL_SKIP_CERTIFICATE_VALIDATION=false
