name: Build assets
on:
  push:
    branches:
      - master
    paths:
      - 'assets/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v1
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: '1.15.x'
      - name: Install
        run: |
          echo ::add-path::$(go env GOPATH)/bin
          go install
      - name: Build
        run: |
          echo "::stop-commands::`echo -n ${{ github.token }} | sha256sum | head -c 64`"
          make assets
          echo "::`echo -n ${{ github.token }} | sha256sum | head -c 64`::"
      - uses: stefanzweifel/git-auto-commit-action@v2.1.0
        with:
          commit_message: Build assets
          branch: master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
