name: Go tests
on:
  push:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
  pull_request:
    paths-ignore:
      - 'docs/**'
jobs:
  test:
    runs-on: ubuntu-20.04
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
    strategy:
      fail-fast: false
      matrix:
        include:
          # Recommended version
          - go-version: '1.20.x'
            couchdb-version: '3.3.2'
          # More exotic version
          - go-version: '1.18.x'
            couchdb-version: '3.2.3'
    steps:
      - name: Install CouchDB
        run: |
          curl https://couchdb.apache.org/repo/keys.asc | gpg --dearmor | sudo tee /usr/share/keyrings/couchdb-archive-keyring.gpg
          source /etc/os-release
          echo "deb [signed-by=/usr/share/keyrings/couchdb-archive-keyring.gpg] https://apache.jfrog.io/artifactory/couchdb-deb/ ${VERSION_CODENAME} main" | sudo tee /etc/apt/sources.list.d/couchdb.list
          sudo apt-get update
          sudo debconf-set-selections <<-EOF
                couchdb couchdb/mode select standalone
                couchdb couchdb/mode seen true
                couchdb couchdb/bindaddress string 127.0.0.1
                couchdb couchdb/bindaddress seen true
                couchdb couchdb/adminpass password password
                couchdb couchdb/adminpass seen true
                couchdb couchdb/adminpass_again password password
                couchdb couchdb/adminpass_again seen true
                couchdb couchdb/cookie string elmo
                couchdb couchdb/cookie seen true
          EOF
          DEBIAN_FRONTEND=noninteractive sudo apt-get install -y --force-yes couchdb=${{ matrix.couchdb-version }}*
          echo "COZY_COUCHDB_URL=http://admin:password@localhost:5984/" >> $GITHUB_ENV

      - name: Install ghostscript
        run: sudo apt install ghostscript

      - name: Change ImageMagick security policy
        run: sudo rm /etc/ImageMagick-6/policy.xml

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
          cache: true

      - name: Run tests
        run: go test -p 1 -timeout 5m -coverprofile=coverage.out -covermode=atomic ./...

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
