name: Integration tests
on:
  push:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
  pull_request:
    paths-ignore:
      - 'docs/**'
jobs:
  integration:
    runs-on: ubuntu-22.04
    services:
      mailhog:
        image: mailhog/mailhog
        ports:
          - 1025:1025
          - 8025:8025
    steps:
      - name: Install CouchDB
        run: |
          curl https://couchdb.apache.org/repo/keys.asc | gpg --dearmor | sudo tee /usr/share/keyrings/couchdb-archive-keyring.gpg
          source /etc/os-release
          echo "deb [signed-by=/usr/share/keyrings/couchdb-archive-keyring.gpg] https://apache.jfrog.io/artifactory/couchdb-deb/ ${VERSION_CODENAME} main" | sudo tee /etc/apt/sources.list.d/couchdb.list
          sudo apt-get update
          sudo debconf-set-selections <<-EOF
                couchdb couchdb/mode select standalone
                couchdb couchdb/mode seen true
                couchdb couchdb/bindaddress string 127.0.0.1
                couchdb couchdb/bindaddress seen true
                couchdb couchdb/adminpass password password
                couchdb couchdb/adminpass seen true
                couchdb couchdb/adminpass_again password password
                couchdb couchdb/adminpass_again seen true
                couchdb couchdb/cookie string elmo
                couchdb couchdb/cookie seen true
          EOF
          DEBIAN_FRONTEND=noninteractive sudo apt-get install -y --force-yes couchdb=3.3.2*
          echo "COZY_COUCHDB_URL=http://admin:password@127.0.0.1:5984/" >> $GITHUB_ENV
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21.x'
      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install
        run: |
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
          go install
      - name: Test
        run: |
          make integration-tests
