#!/bin/bash
#
# The "post-install-app" hook is run just after an application has been
# installed. It can be used for logging, notification, statistics, etc.
# It's also a good place to add a vhost for an application in the
# reverse-proxy configuration, with a TLS certificate.
#
# The hook is called with the following parameters:
#
# $1 -- the instance on which the application has been installed
# $2 -- the application name that has been installed.
#
# To enable this hook, rename this file to "post-install-app".
#
# This sample shows how to log the install.

echo "$1 $2" >> /var/log/cozy/installs.log
