#!/bin/bash
#
# The "pre-install-app" hook is run just before installing an application,
# and can prevent the command from running by exiting with non-zero status.
#
# The hook is called with the following parameters:
#
# $1 -- the instance on which the application will be installed
# $2 -- the application name that will be installed.
#
# To enable this hook, rename this file to "pre-install-app".
#
# This sample shows how to block install randomly.

exit $[ $RANDOM % 2 ]
